.completed {
	text-decoration: line-through;
}

body {
	background-color: #FBC433;
	text-align: center;
	font:15px arial, sans-serif;
}

h6 {
	font-style: italic
}


input { 
	width: 51%;
	height: 40px;
	margin-left: 23%;
	text-align: center;
  display: block;
  font:15px arial, sans-serif;
}

#add-todo{
  margin-left: -2%;
  font: bold 22px Arial;
  text-decoration: none;
  background-color: #57BFD2;
  color: black;
  padding: 8px 16px 8px 16px;
}

dt{
  	width: 51%;
	height: 40px;
	margin-left: 23%;
  	font: bold 22px Arial;
  	text-decoration: none;
  	background-color: #008000;
  	color: black;
  	padding: 8px 6px 8px 6px;
 /* border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px sol*/id #CCCCCC;
}

dt:nth-of-type(5n-4) {
  background-color:  #93227F;
}

dt:nth-of-type(5n-3) {
  background-color:  #B9177D;
}

dt:nth-of-type(5n-2) {
  background-color: #E1388C;
}

dt:nth-of-type(5n-1) {
  background-color: #E95978;
}
dt:nth-of-type(5n) {
  background-color:  #E69DAD;
}

/*dt:last-of-type{
  background-color: #F29525 ;
}
dt:first-of-type {
  background-color: #93227F;
}
*/
