.completed {
	text-decoration: line-through;
}

body {
	background-color: #c19a6b;
	text-align: center;
	font:15px arial, sans-serif;
}


input { 
	 width: 100%;
    height: 100%;
    top: 5px;
    left: 0px;
    background-color: #FFFFFF !important;
    padding: 10px;
    overflow: hidden;
    visibility: visible;
    display: block;
    z-index: 500 !important;
    position: relative;
}